body {
  background-color: white;
}

.header {
  display: block;
  text-align: center;
  background-color: #414c4e;
  padding-bottom: 15px;
  padding-top: 15px;
}

.header h1 {
  font-size: 40px;
  color: white;
}

.main-content {
  display: flex;
  color: white;
  /*border: 1px dotted red;*/
  width: 70%;
  padding: 2%;
  padding-bottom: 0%;
  box-sizing: border-box;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.paragraph {
  padding: 50px;
  border-radius: 25px;
  margin: 5%;
}

.button-1 {
  background-color: #4c878f;
}

.button-2 {
  background-color: #414c4e;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

@media screen and (max-width: 900px) {
  .main-content {
    flex-direction: column;
  }
}

.sprouted-california-rice p {
  display: flex;
}

.white-rice p {
  display: flex;
}
